.hero {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  justify-content: center;
  min-height: 60vh;
  &-title {
    color: var(--theme-color);
    font-size: var(--tsm2);
    font-family: var(--inter);
  }
  &-title-large {
    font-size: var(--tgiant);
    font-family: var(--inter);
    color: var(--light-slate);
  }
  &-title-sub {
    color: var(--lightest-slate);
    font-weight: 300;
    line-height: 3.2rem;
  }
  &-text {
    color: var(--slate);
    margin-right: 30%;
    margin-top: 20px;
    font-size: var(--tsm2);
    line-height: 1.7rem;
    font-weight: 400;
    font-family: var(--notosans);
  }
  &-button {
    margin-top: 1rem;
    .btn {
      padding: 0.5rem 2rem;
      font-size: var(--tsm1);
      font-family: var(--fira-code);
    }
  }
}
